/**
 * AIME-admin Stylesheet
 * ======================
 */

/*
 * Globals
 */
html, body {
  width: 100%;
  height: 100%;
  font-family: "NovelMonoPro-Regular", Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

ul {
  list-style-type: none;
}

/*
 * Titles
 */
h1 {
  color: black;
  font-family: "NovelMonoPro-Regular", Arial, sans-serif;
  font-size: 15px;
  font-feature-settings: "smcp", "onum", "ss01", "ss03", "liga", "kern";
  -webkit-font-feature-settings: "smcp", "onum", "ss01", "ss03", "liga", "kern";
  text-rendering: optimizeLegibility;
}

/*
 * Layout
 */
#middle {
  text-align: center;
}

.plain-list {
  list-style-type: none;
}

.sub-list {
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.full-height {
  height: 100%;
  min-height: 100%;
}

.overflowing {
  height: 90%;
  overflow-y: auto;
}

/*
 * Lists
 */

.box {
  height: 45px;
  background-color: #eeeeee;
  text-align: center;
  line-height: 45px;
  font-family: "NovelMonoPro-RegularIt", Arial, sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.box:hover {
  background-color: #cecece;
}

.box.selected {
  color: white;
  background-color: #353535;
}

.spaced {
  margin-top: 10px;
}

.chapter-box {
  cursor: pointer;
  background-color: #eeeeee;
  font-family: "NovelMonoPro-RegularIt", Arial, sans-serif;
  font-size: 15px;
  text-align: left;
  padding: 10px 5px;
  margin-bottom: 10px;
}

.chapter-box.active, .chapter-box:hover {
  background-color: #cecece;
}

.subheading-box {
  cursor: pointer;
  background-color: #eeeeee;
  text-align: left;
  font-family: "NovelMonoPro-RegularIt", Arial, sans-serif;
  font-size: 15px;
  padding: 10px 5px;
  margin-bottom: 10px;
}

.subheading-box.active, .subheading-box:hover {
  color: white;
  background-color: #959595;
}

/*
 * Thumbnails
 */

.thumbnail-index {
  vertical-align: top;
  font-weight: bold;
  line-height: 27px;
}

.thumbnail-text {
  vertical-align: top;
  text-align: left;
  font-size: 6px;
  padding: 5px;
  padding-left: 10px;
  line-height: 7px;
  cursor: pointer;
}

.thumbnail-text:hover, .thumbnail-text.active {
  color: black;
  background-color: #eeeeee;
}

/*
 * Editor
 */
.editor {
  width: 100%;
  background-color: #eeeeee;
  padding: 20px;
}

.entities-container {
  padding: 10px;
}

.entities-container > .entity {
  line-height: 2em;
}

.preview {
  font-size: 16px;
  width: 100%;
  padding: 20px;
  line-height: 1.65em;
}
