/**
 * AIME-admin Stylesheet
 * ======================
 */

/*
 * Globals
 */
ul {
  list-style-type: none;
}

/*
 * Titles
 */
h1 {
  color: black;
  font-family: "NovelMonoPro-Regular", Arial, sans-serif;
  font-size: 15px;
  font-feature-settings: "smcp", "onum", "ss01", "ss03", "liga", "kern";
  -webkit-font-feature-settings: "smcp", "onum", "ss01", "ss03", "liga", "kern";
  text-rendering: optimizeLegibility;
}

/*
 * Layout
 */
#middle {
  text-align: center;
}

.plain-list {
  list-style-type: none;
}

.box {
  height: 45px;
  background-color: #eeeeee;
  text-align: center;
  line-height: 45px;
  font-family: "NovelMonoPro-RegularIt", Arial, sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.box:hover {
  background-color: #cecece;
}

.box.selected {
  color: white;
  background-color: #353535;
}

.spaced {
  margin-top: 10px;
}

.chapter-box {
  cursor: pointer;
  background-color: #eeeeee;
  font-family: "NovelMonoPro-RegularIt", Arial, sans-serif;
  font-size: 15px;
  text-align: left;
  padding: 10px 5px;
  margin-bottom: 10px;
}

.chapter-box:hover {
  background-color: #cecece;
}

.subheading-box {
  cursor: pointer;
  background-color: #eeeeee;
  text-align: left;
  font-family: "NovelMonoPro-RegularIt", Arial, sans-serif;
  font-size: 15px;
  padding: 10px 5px;
  margin-bottom: 10px;
}
