<fieldset class="customInput CharField">
  <div class="message"></div>
  <label>
    {{ label }} :
  </label>
  <div class="lines-container container">
    <ul class="lines"></ul>
    <button class="action add-line">{{t "customInputs:CharField.actions.add" }}</button>
  </div>
</fieldset>
