<fieldset class="customInput ComponentField">
  <div class="message"></div>
  <label>
    {{ label }} :
  </label>
  <div class="documents-container container">
    <ul class="documents-list"></ul>
    <button class="add-document">+</button>
  </div>
</fieldset>
