<fieldset class="customInput CreatorField">
  <div class="message"></div>
  <label>
    {{ label }} :
  </label>
  <div class="creators-container container">
    <ul class="creators-list"></ul>
    <button class="action add-creator">{{t "customInputs:CreatorField.actions.add" }}</button>
  </div>
</fieldset>
