<fieldset class="customInput IdentifierField">
  <div class="message"></div>
  <label>
    {{ label }} :
  </label>
  <div class="identifier-container container">
    <ul class="identifiers-list"></ul>
    <button class="action add-identifier">{{t "customInputs:IdentifierField.actions.add" }}</button>
  </div>
</fieldset>
