<fieldset class="customInput KeywordField">
  <div class="message"></div>
  <label>
    {{ label }} :
  </label>
  <div class="languages-container container">
    <ul class="languages-list"></ul>
    <button class="action add-language">{{t "customInputs:KeywordField.actions.add" }}</button>
  </div>
</fieldset>
