<li>
  <select class="select-language">
    {{#each languages}}
      {{#if this.separator }}
        <option class="disabled" disabled="disabled">---</option>
      {{else}}
        <option value="{{ this.id }}">{{ this.label }}</option>
      {{/if}}
    {{/each}}
  </select>
  <button class="remove-language">-</button>
  <textarea class="col-6"></textarea>
</li>
