<fieldset class="StringField">
  <div class="message"></div>
  <label for="{{ property }}">
    {{ label }} :
  </label>
  <span class="col-6 inline-block value" name="{{ property }}"></span>
</fieldset>
