<fieldset class="customInput YearRangeField">
  <span class="title">{{ label }} :</span>
  {{t "commons.between" }} <input type="year" class="date-from" /> {{t "commons.and" }} <input type="year" class="date-to" />
</fieldset>
