/**
 * AIME-admin Stylesheet
 * ======================
 */
@import 'bootstrap/bootstrap.less';
@import 'codemirror.less';
@import 'codemirror.theme.less';

@m: 12px;

@g4:  darken(white, 4%);
@g7:  darken(white, 7%);
@g14: darken(white, 14%);
@g42: darken(white, 42%);
@g77: darken(white, 77%);

.font-feature{
  font-feature-settings: "smcp", "onum", "ss01", "ss03", "liga", "kern";
  -webkit-font-feature-settings: "smcp", "onum", "ss01", "ss03", "liga", "kern";
}

/*
 * Globals
 */
html, body {
  width: 100%;
  height: 100%;
  font-family: "NovelMonoPro-Regular", Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

ul {
  list-style-type: none;
}

.centered {
  text-align: center;
}

/*
 * Titles
 */
h1 {
  color: black;
  font-size: 15px;

  font-family: "NovelMonoPro-Regular", Arial, sans-serif;
  .font-feature;
}

/*
 * Layout
 */

.full-height {
  height: 100%;
  min-height: 100%;
}

.overflowing {
  height: 90%;
  overflow-y: auto;
}

.box {

  padding: @m;
  margin-bottom: @m;

  cursor: pointer;

  background-color: @g7;

  font-family: "NovelMonoPro-RegularIt", Arial, sans-serif;
  font-size: 15px;
  line-height: @m*2;

  &:hover {
    background-color: @g14;
  }
  &.selected {
    background-color: @g77;
    color: white;
  }
}

/*
 * Lists
 */
.chapter {
  background-color: @g4;
  color: black;
  &.selected, &:hover {
    background-color: @g14;
    color: black;
  }
}

.subheading {
  &.selected, &:hover {
    background-color: @g42;
    color: white;
  }
}

.plain-list {
  list-style-type: none;
}

.sub-list {
  padding-left: @m;
  padding-right: @m;
}

.thumbnail-index {
  vertical-align: top;
  font-weight: bold;
  line-height: 27px;
}
.thumbnail-text {

  padding: @m/2;
  padding-left: @m;

  font-size: 6px;
  line-height: @m/2;

  background: white;
  color: @g14;

  &.selected, &:hover {
    background: white;
    color: black;
  }
}

/*
 * Editor
 */
.editor {
  background-color: @g4;
}

.entities-container {
  padding: 10px;

  & > .entity {
    line-height: 2em;
  }
}

.entity.error {
  color: red;
}

.preview {

  font-size: 16px;

  padding: @m;
  padding-top: 1.5*@m;

  line-height: @m*2;
  font-family: "NovelPro-Regular", Times, serif;

  .vocabulary-item {
    padding: @m/2 0 @m/3 0;

    font-family: "NovelSansPro-Bold", Times, serif;
    .font-feature;

    background-color: @g14;
  }

  .document-item {
    vertical-align: super;
    background-color: @g14;
    padding: 3px;
    font-size: 0.8em;
  }

  .resource-item {
    background-color: @g14;
    padding: 5px;
    display: block;
  }
}
