/**
 * AIME-admin Stylesheet
 * ======================
 */
@import 'bootstrap/bootstrap.less';
@import 'codemirror.less';
@import 'codemirror.theme.less';

@m: 12px;

@g4:  darken(white, 6%);
@g7:  darken(white, 9%);
@g14: darken(white, 15%);
@g42: darken(white, 42%);
@g77: darken(white, 77%);

.userselection(@color: blue){
  *::selection {
    background: @color; /* WebKit/Blink Browsers */
  }
  *::-moz-selection {
    background: @color; /* Gecko Browsers */
  }
}

.font-feature{
  font-feature-settings: "smcp", "onum", "ss01", "ss03", "liga", "kern";
  -webkit-font-feature-settings: "smcp", "onum", "ss01", "ss03", "liga", "kern";
}

.ligned {
  background-size: 100% 2*@m;
  background-position-y: 16px;
  background-image:linear-gradient(@g14 1px, transparent 1px);
}
.elipse {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*
 * Globals
 */
html, body {
  height: 100%;
  font-family: "NovelMonoPro-Regular", Arial, sans-serif;
  text-rendering: optimizeLegibility;

  .userselection(@g14);

  margin-left: 20px;
}

ul {
  list-style-type: none;
}
.centered {
  text-align: center;
}

/*
 * Titles
 */
h1 {
  color: black;
  font-size: 15px;
  
  height: @m*4;
  line-height: @m*4;
  margin: 0;
  padding: 0;

  font-family: "NovelMonoPro-Regular", Arial, sans-serif;
  .font-feature;
  .centered;
}

/*
 * Layout
 */

.full-height {
  height: 100%;
}

.overflowing {
  height: calc(~"100% -" @m*15);
  overflow: scroll; 
  overflow-x:hidden;
}
.CodeMirror-scroll {
    .ligned;
    line-height: @m*2;
}
.box {

  padding: @m;
  margin-bottom: @m;

  cursor: pointer;

  background-color: @g7;

  font-family: "NovelMonoPro-RegularIt", Arial, sans-serif;
  line-height: @m*2;

  &:hover {
    background-color: @g14;
  }
  &.selected {
    background-color: @g77;
    color: white;
  }
}

.bouton {
  height: @m*4;
  line-height: @m*4;

  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;

  margin-top: @m;
  background: @g14;
  color: black;
  
  &.selected {
    background-color: @g42;
  }

  &:hover {
    background-color: @g77;
    color: white;
  }

  &.inactive {
    background-color: @g14;
    color: @g42;
  }

}
/*
 * Modal
 */

.editor {

  line-height: @m;
  width: 100%;
  height: 10*@m;
  outline: none;
  border: 0;

  .ligned;
  line-height: @m*2;

}


/*
 * Lists
 */
.chapter {
  background-color: @g4;
  color: black;
  &.selected, &:hover {
    background-color: @g14;
    color: black;
  }
  .elipse();
}

.subheading {
  &.selected, &:hover {
    background-color: @g42;
    color: white;
  }
  .elipse();
}

.plain-list {
  list-style-type: none;
  padding-right: @m;
}

.sub-list {
  padding-left: @m*2;
  padding-right: @m*2;
}

.thumbnail-index {
  vertical-align: top;
  font-weight: bold;
  line-height: 27px;
}

.thumbnail-text {
  padding: @m/2;
  padding-left: @m;

  font-size: 6px;
  line-height: @m/2;

  background: white;
  color: @g14;

  &.selected, &:hover {
    background: white;
    color: black;
  }
}

/*
 * Editor
 */

.entities-container {
  padding: 10px;

  & > .entity {
    line-height: 2em;
  }
}

.entity.error {
  color: red;
}

.preview {

  font-size: 16px;

  padding: @m;
  padding-top: 1.5*@m;

  line-height: @m*2;
  font-family: "NovelPro-Regular", Times, serif;

  .vocabulary-item {
    padding: @m/2 0 @m/3 0;

    font-family: "NovelSansPro-Bold", Times, serif;
    .font-feature;

    background-color: @g14;
  }

  .document-item {
    vertical-align: super;
    background-color: @g14;
    padding: 3px;
    font-size: 0.8em;
  }

  .resource-item {
    background-color: @g7;
    color: @g77;
    padding: @m*1;

    a { color: black; }
  }

  .reference {
    background-color: white;

    border: 1px @g42 solid;

  }


  .creator {
    font-family: "NovelSansPro-Bold", Times, serif;
    .font-feature;
  }
  .media {
    
    &.image {
      padding: 0;
      img {.img-responsive();}
      .caption {
        padding:@m;
        margin-top: 0;
      }
    }

  }

  .video {
    .embed-responsive();
    .embed-responsive-16by9()
  }
}

/*
 * Forms
 */

form {

  padding: @m;

  label { 
    font-size: @m;
    font-family: "NovelMonoPro-Regular", Arial, sans-serif;
    .font-feature;
    .centered;
    width: 100%;
    line-height: @m*2;
    color: @g77;
  }

  input, textarea {
    line-height: @m*6;
  }

  .pre {
    min-height: @m*20;
    padding: 2px 4px;
    font-size: 90%;
    color: @code-color;
    background-color: @g7;
    border-radius: @border-radius-base;
  }
}

#toolbar {
  position: absolute;
  width: 40px;

  top:0;
  left: 0;

}

