<!DOCTYPE html>
<html>
<head>
  <title>Smit</title>

  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body ng-app="smit">

  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>


  <div id="layout" ng-controller="CoreCtrl">

    <header>
      <div class="inner">
        <div id="logo">smit</div>
        <div id="query">
          <textarea rows="1" placeholder="neo4j query ..." ng-model="query"></textarea>
        </div>
      </div>
    </header>

    <sidebar>
      <div class="inner">
        <div class="node-types">
          <div class="node-type" ng-repeat="label in labels" ng-click="visualise(label)">{{label}}</div>
        </div>
      </div>
    </sidebar>

    <div id="playground" ng-controller="PlaygroundCtrl">
      <div class="inner">
        <div sigma id="sigma" data="network"></div>
      </div>
    </div>

    <footer>

    </footer>
  </div>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-resource.min.js"></script>

  <script type="text/javascript" src="js/lib/sigma.min.js"></script>
  <script type="text/javascript" src="js/lib/sigma.layout.forceAtlas2.min.js"></script>
  <script type="text/javascript" src="js/lib/sigma.renderers.nodeBorder.js"></script>

  <script type="text/javascript" src="js/queries.js"></script>

  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/controllers/playground.js"></script>
  <script type="text/javascript" src="js/controllers/core.js"></script>
  <script type="text/javascript" src="js/services/neo4j.js"></script>
  <script type="text/javascript" src="js/directives/sigma.js"></script>

</body>
</html>
