<header id="header" meta-status='closed'>
      <!-- TOP MENU -->

      <div class='top'>
        <div class='content'>
          <a id="terms-popup-caller">{{t 'conditions générales d\'utilisation'}}</a> |
          <a id="legal-popup-caller">{{t 'mentions légales'}}</a> |
          <a id="soutien-popup-caller">{{t 'soutien'}}</a> |
          <a id="credits-popup-caller">{{t 'credits'}}</a>
        </div>
      </div>

      
</header>