<div class="pdf-wrapper">
      <canvas/>
      <div class="fullscreen button"><i class="icon-fullscreen"></i> click to read</div>
      <div class="page-wrapper">
        <div class="page">
          <input type="text" name="pdf-page"/>
          <div class="of">of</div>
          <div class="num-pages"></div>
          <div class="pdf-arrow left button previous"><i class="fa fa-angle-left"></i></div>
          <div class="pdf-arrow right button next"><i class="fa fa-angle-right"></i></div>
        </div>
      </div>
  </div>