<div class="pdf-wrapper">
  <div class='slides-box'>
      <div class='slides-wrapper'>
        {{#foreach slides}}
        <div class="slide"  style='min-height:100px; left: {{multiply $index 100}}%;' data-page="{{$index}}">
          <div class="loader">LOADING..</div>
        <canvas data-status=''/>
        </div>
        {{/foreach}}
      </div>
    </div>

  <div class="fullscreen button"><i class="icon-fullscreen"></i> click to read</div>

  <div class="page-wrapper">
  <div class="page">
    <input type="text" name="pdf-page"/>
    <div class="of">of</div>
    <div class="num-pages"></div>
    <div class="pdf-arrow left button previous"><i class="fa fa-angle-left"></i></div>
    <div class="pdf-arrow right button next"><i class="fa fa-angle-right"></i></div>
    <div class="adjust-width button"><i class="icon-resize-full"></i></div>
    <div class="adjust-height button"><i class="icon-resize-small"></i></div>
  </div>
  </div>
</div>
