<div id="sos">
  <div class="wrapper">
    <button type="button" class="close" data-action="close"><i class="fa fa-times-circle-o"></i></button>
    <h2>{{t 'password_reset'}}</h2>
    <div class="line"></div>
    <p>
      <label>
        <span>{{t 'login'}}</span>
        <span id="error-email" class="invalid"></span>
      </label>

      <input id="email" type="text" placeholder="email address">
    </p>

    <div class="actions">
      <div class="line" style="margin-top: 10px;"></div>
      <table cellspacing="0">
        <tr>
          <td class="left">
            <a class="button" data-action="confirm">{{t 'confirm'}}</a>
          </td>
          <td class="right">

          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
