<div class="tweet">
  <p class="date">
    <a href="{{tweet.link}}" class="icon" target="_blank"></a>&nbsp;&nbsp;{{date tweet.date}}</p>
  <p class="name">{{tweet.screenname}}</p>
  <p class="text">{{tweet.message}}</p>
</div>